.NotificationStack {
    position: fixed;
    bottom: 10px;
    left: 10px;
    height:auto;
    display:flex;
    flex-basis: auto;
    flex-direction: column;
    z-index: 5;
    

  .NotificationCard {
    padding: 7px 14px;

    // border-radius: 10px;
    max-width: 250px;
    width: 30%;
    min-width: 100%;
    color: black;
    border-left: 7px solid;
    border-color: blue;
    background: white;
    box-shadow: 0 0 30px rgba(46, 46, 46, 0.116);
    margin: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    transition: flex-grow 1s;
    text-align: left;
    transition: background 0.7s;
    cursor: pointer;

    &:hover {
      background: rgb(231, 231, 231);
    }


    h3 {
      margin: 0;
      margin-bottom: 5px;

    }

    p {
      margin: 0;
      font-size: 12px;
      font-weight: 500;
      color: rgb(83, 83, 83);


    }
  }

}

.example-enter {
    opacity: 0.01;
    flex-grow: 0.00001;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    flex-grow: 1;
    transition: opacity 500ms ease-in, flex-grow 1000ms linear;
  }

  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0;
    transition: opacity 500ms ease-in, ;
    
  }
  