.NotificationStack {
    position: fixed;
    bottom: 10px;
    left: 10px;
    height:auto;
    display:flex;
    flex-direction: column;
    transition: flex-grow 1s;

  .NotificationCard {
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    width: 30%;
    min-width: 100%;
    color: white;
    background: rgb(182, 182, 11);
    box-shadow: 0 0 30px rgba(46, 46, 46, 0.116);
    margin: 20px;
  }

}

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }