.SignOut {
  .signOut-button {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.2s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 1;
      }
    }
  }
}
