.SignOut {
  .signOut-button {
    width: max-content;
    height: 40px;
    margin: 30px auto 10px;
    padding: 0 15px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    background: none;
    color: #414141;
    border: 1px solid #414141;
    border-radius: 4px;
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: white;
        border: none;
        background: rgb(113, 204, 217);
        background: linear-gradient(
          135deg,
          rgba(113, 204, 217, 1) 0%,
          rgba(128, 85, 162, 1) 65%,
          rgba(128, 85, 162, 1) 100%
        );
      }
    }
    &:active {
      transition: all 0.025s ease;
      transform: translate(0, 1px);
    }
  }
}
