.ForgotPassword {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--backdrop);
  color: var(--text);

  h4 {
    width: 250px;
    margin: 0 auto 10px;
    font-size: 12px;
    font-weight: bold;
  }
}