.TextField {
  width: 100%;

  .label {
    margin: 10px auto 0px;
    font-size: 12px;
    transition: opacity 1s, transform 1s;
    text-align: left;
    text-transform: uppercase;
    color: #858585;
  }
  input {
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 0 20px;
    &::placeholder {
      text-transform: uppercase;
    }
  }
}
