.TextField {
  width: 100%;

  .label {
    margin: 0;
    font-size: 12px;
    transition: opacity 1s, transform 1s;
    text-align: left;
    text-transform: uppercase;
    color: #858585;
  }
  input {
    display: block;
    height: 50px;
    width: 90%;
    position: relative;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    &::placeholder {
      text-transform: uppercase;
    }
    // //
    // &::placeholder {
    //   -webkit-transform: translateY(0px);
    //   transform: translateY(0px);
    //   -webkit-transition: 0.5s;
    //   transition: 0.5s;
    // }
    // &:hover,
    // &:focus,
    // &:active:focus {
    //   color: #ff5722;
    //   outline: none;
    //   border-bottom: 1px solid #ff5722;
    //   &::placeholder {
    //     color: #ff5722;
    //     position: relative;
    //     -webkit-transform: translateY(-20px);
    //     transform: translateY(-20px);
    //   }
    // }
  }
}
