.TextField {
  width: 100%;
  color: var(--text);

  .label {
    margin: 10px auto 0 40px;
    font-size: 12px;
    transition: opacity 1s, transform 1s;
    text-align: left;
    font-style: italic;
  }

  .field-container {
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 40px;
      margin-right: 10px;
    }

    input {
      height: 40px;
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid rgba(93, 105, 177, 0.1); // var(--text)
      padding: 0 0 0 10px;
      &::placeholder {
        font-style: italic;
        color: var(--text);
      }
    }
  }
}
