* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
  background: whitesmoke;
  text-align: center;
  font-family: "Open Sans", sans-serif;

  .content {
    width: 100%;
    max-width: 700px;
    height: 100%;
    padding: 20px;
    margin: auto;
    background: white;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.212);
  }

  .submit-button {
    width: 250px;
    height: 40px;
    margin: 30px auto 0px;
    padding: 0px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    background: none;
    color: #414141;
    border: 1px solid #414141;
    border-radius: 4px;
    cursor: pointer;

    @media(hover: hover) and (pointer: fine) {
      &:hover {
        color: white;
        border: none;
        background: rgb(113,204,217);
        background: linear-gradient(135deg, 
                              rgba(113,204,217,1) 0%,
                              rgba(128,85,162,1) 65%, 
                              rgba(128,85,162,1) 100%);
      }
    }
    &:active {
      transition: all 0.025s ease;
      transform: translate(0, 1px);
    }
  }
}