* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  //Color Pallette:
  --shadow: #c3c7e2;
  --text: #5d69b1;
  --accent: #40c4ee;
  --backdrop: #faf4ff;
  --confirm: #53df8e;
  --deny: #ff7b7b;
  --invalid: #ffb677;
}

h1,
h2 {
  font-style: normal;
  font-weight: bold;
  color: var(--text);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

button,
select,
input {
  font-family: inherit;
  color: var(--text);
  font-size: 15px;
}

button {
  cursor: pointer;
  transition: transform 0.4s;

  &:active {
    transform: scale(0.97);
  }
}

.page {
  color: var(--text);
  width: 100%;
  height: 100%;
  background: whitesmoke;
  text-align: center;
  font-family: "Open Sans", sans-serif;

  .account-container {
    width: 100%;
    max-width: 480px;
    height: 100%;
    padding: 48px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
  }

  .cpcsaiLogo {
    width: 256px;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
  }

  .account-title {
    display: block;
    margin: 64px auto 24px;
    width: min-content;

    h2 {
      white-space: nowrap;
      margin: 0 auto;
      font-size: 36px;
      font-weight: bold;
    }
  }

  .acccount-links {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .link {
      margin: 5px auto;
      text-decoration: none;
      color: var(--text);
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      opacity: 0.6;
      transition: all 0.2s;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .submit-button {
    width: 250px;
    height: 40px;
    margin: 30px auto 10px;
    padding: 0px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    background: none;
    border: 1px solid var(--text);
    border-radius: 4px;
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: white;
        border: none;
        background: var(--accent);
      }
    }
    &:active {
      transition: all 0.025s ease;
      transform: translate(0, 1px);
    }
  }
}
